node_modules
.env
backend/node_modules
backend/.env

public
!backend/public/images/.gitkeep
!backend/public/documents/.gitkeep
backend/private/
!backend/private/cedulas/.gitkeep
.vs
# Excluir carpetas de compilación y configuración local de Kotlin/Android
composeApp/.gradle/
composeApp/.idea/
composeApp/build/
composeApp/.kotlin/
composeApp/kotlin-js-store/
composeApp/local.properties